.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 1000px;
}

.aboutLeftSide,
.aboutRightSide {
  grid-row: 1 / 2;
}

.aboutLeftSide {
  grid-column: 1 / 6;
  text-align: start;
}
.aboutLeftSide p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  margin-right: 0;
}
.currentSkills {
  display: flex;
}
.currentSkills ul {
  list-style: none;
  padding: 0;
  margin-right: 5rem;
}
.currentSkills li {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}
.currentSkills li::before {
  content: "‣";
  color: #ce5252;
}
.aboutRightSide {
  grid-column: 6 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectTitle {
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.aboutPic {
  width: 100%;
}
@media (max-width: 950px) {
  .aboutContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutPic {
    width: 350px;
  }
}

.resumeButtonDiv {
  margin: 2rem 0;
  text-decoration: none;
}

.resumeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ce5252;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 1rem;
  text-decoration: none;
  gap: 5px;
}

.pdf {
  color: #121330;
  text-decoration: none;
}

.resumeButton div {
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Comfortaa";
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
