.containerOfNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.nav {
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 2rem 5rem !important;
  background-color: rgba(255, 255, 255, 0.705);
  backdrop-filter: blur(5px);
  align-items: center;
}
.navLeft {
  display: flex;
}
.resume {
  margin-left: 10px;
}
nav a {
  text-decoration: none;
}
p {
  margin-right: 4rem;
  font-size: 1.2rem;
  font-family: "Raleway";
  font-weight: 700;
}
.nav-last {
  margin-right: 0;
}
.fontawesome {
  margin-left: 2rem;
  color: #292929;
}

.burgerMenuDiv > a {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px #baaea0 solid;
}
.hamburgerDiv {
  display: none;
}
@media (max-width: 850px) {
  .navLeft {
    display: none;
  }
  .hamburgerDiv {
    display: block;
  }
  .nav {
    padding: 2rem 2rem !important;
  }
}

.navBarP {
  color: rgb(70, 70, 70);
}
.resumeText {
  color: #000000;
}
