.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #baaea0;
  padding-bottom: 2rem;
}
.insideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.pTag {
  margin: 0;
  font-size: 1.3rem;
}
.buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.buttons button {
  background-color: #ce5252;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  width: 110px;
}
